# Indique que ce fichier est la racine de l'EditorConfig
root = true

# Configuration générale pour tous les fichiers
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Fichiers JSON (ex : package.json, prisma.schema, etc.)
[*.json]
trim_trailing_whitespace = false  # Permet de garder des espaces si besoin

# Fichiers Markdown
[*.md]
trim_trailing_whitespace = false  # Important pour éviter les sauts de ligne automatiques

# Fichiers Python
[*.py]
indent_style = space
indent_size = 4

