# node modules
node_modules/
client/node_modules/
server/node_modules/

# dist folders
client/dist/
server/dist/
./nginx

# lockfiles
pnpm-lock.yaml

.env
server/coverage

*.db
python/All_e_des_Jacquets-2024-10-14_11-38-12.json
