.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8a4a7d; /* Adaptez à la couleur de votre design */
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
}

  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  
  .contact-info p, .social-media a {
    margin: 0 10px;
  }
  
  .social-icon {
    color: white; /* Couleur des icônes */
    font-size: 24px; /* Taille des icônes */
    margin: 0 10px;
    text-decoration: none; /* Enlève le soulignement des liens */
  }
  
  .social-icon:hover {
    color: #ff007f; /* Couleur au survol */
  }
  
  